@charset 'utf-8';


/** Main Theme Color **/
/* #03BBDD */
/* #00B1A9 */


html,body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Arial', 'Microsoft JhengHei';
	min-height: 100vh;
}

*{
	box-sizing: border-box;
}

.middle, .square{
	position: relative;
	font-size: 0;
}

.middle:before, .square:before{
	content: ' ';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.middle > *, .square > *{
	display: inline-block;
	vertical-align: middle;
}

.square:before{
	height: auto;
	padding-top: 100%;
}

.clear:after{
	content: ' ';
	display: block;
	clear: both;
}

.animate, .animate:after, .animate:before{
	-webkit-transition: all ease-in-out .25s;
	-ms-transition: all ease-in-out .25s;
	-o-transition: all ease-in-out .25s;
	transition: all ease-in-out .25s;
}

.helfSec{
	-webkit-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}

.fullSec{
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

.oneHelfSec{
	-webkit-transition-duration: 1.5s;
	-ms-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;
	transition-duration: 1.5s;
}

.twiceSec{
	-webkit-transition-duration: 2s;
	-ms-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
}

.thumb{
	display: block;
	position: relative;
	font-size: 0;
	height: auto !important;
}

.thumb:after{
	content: ' ';
	display: inline-block;
	width: 0;
	padding-top: 100%;
	vertical-align: middle;
}

.thumb a{
	display: inline-block;
	width: 100%;
	padding-top: 100%;
	vertical-align: middle;
}

.thumb img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.flex{
	display: flex;
	flex-direction: row; /* (row | row-reverse | column | column-reverse) */
	flex-wrap: nowrap; /* (nowrap | wrap | wrap-reverse) */
	justify-content: flex-start; /* (flex-start | flex-end | center | space-between | space-around) */
	align-items: flex-start; /* (flex-start | flex-end | center | baseline | stretch) */
	align-content: flex-start; /* (flex-start | flex-end | center | space-between | space-around | stretch) */
}

.flex:before, .flex:after{
	content: normal;
}

.flex-wrap{
	flex-wrap: wrap;
}

.flex-nowrap{
	flex-wrap: nowrap;
}

.flex-column{
	flex-direction: column;
}

.flex-left{
	justify-content: flex-start;
}

.flex-center{
	justify-content: center;
}

.flex-right{
	justify-content: flex-end;
}

.flex-top{
	align-items: flex-start;
}

.flex-middle{
	align-items: center;
}

.flex-bottom{
	align-items: flex-end;
}

.flex-back{
	flex-direction: row-reverse;
}

.floatBgBefore:before, .floatBgAfter:after{
	content: ' ';
	display: block;
	width: 100vw;
	height: 100%;
	position: absolute;
	top: 0;
	left: calc((100% - 100vw) / 2);	
}



/** common start **/

body{
	overflow-x: hidden;
	overflow-y: scroll;
}

body:before{
	position: fixed !important;
	background: #03bbdd;
	background: -webkit-linear-gradient(top, #03bbdd 0%,#00b1a9 100%);
	background: linear-gradient(to bottom, #03bbdd 0%,#00b1a9 100%);
	z-index: -3;
}

body:after{
	position: fixed !important;
	background-image: url('../images/logo_bf.svg');
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #000;
	z-index: -2;
	opacity: 0.5;
}

i.fa{
	display: inline-block;
	margin-right: 0.3em;
}

.fa-lg{
	vertical-align: -0.05em;
}

.table{
	letter-spacing: 0.05em;
	background: rgba(255,255,255,0.7);
}

.table tr:nth-child(2){
	background: rgba(255,255,255,0.5);
}

.table th{
	color: #FFF;
	background: #000;
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;
}

.table th,
.table td{
	vertical-align: middle !important;
}

h2{
	padding: 0;
	margin: 0;
	color: #FFF;
}

@media (max-width: 992px){
	body:after{
		background-size: 65%;
	}
}

@media (max-width: 767px){
	body:after{
		background-size: 80%;
	}
}

/** common end **/



/** header start **/

header{
	position: relative;
	height: 45px;
}

header:before{
	z-index: -2;
	background: #000;

	/*
	background: #03BBDD;
	background: -webkit-linear-gradient(top, #03bbdd 0%,#00b1a9 100%);
	background: linear-gradient(to bottom, #03bbdd 0%,#00b1a9 100%);
	*/
}

header:after{
	height: 1px !important;
	top: auto !important;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	z-index: 2;
}

header > div.row{
	height: 45px;
}

header nav ul{
	list-style: none;
	margin: 0;
}

header nav ul li{
	margin: 0 1em;
}

header h1{
	margin: 0;
	font-size: 1.3em;
	color: #FFF;
}

header h1 img{
	height: 1em;
	vertical-align: top;
	margin-right: 0.5em;
}

header a:link,
header a:visited{
	color: #FFF;
	text-decoration: none;
}

header a:hover,
header a:active{
	color: #03BBDD;
}

@media (max-width: 768px){
	header a span{
		display: none;
	}
}

/** header end **/



/** aside start **/

aside{
	position: relative;
	font-size: 1rem;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	z-index: 2;
	border-right: 1px solid #000;
	padding-top: 1em;
	padding-bottom: 1em;
}

aside:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

	background: -webkit-linear-gradient(left, rgba(0,70,127,0.49) 0%,rgba(19,78,94,0.5) 100%);
	background: linear-gradient(to right, rgba(0,70,127,0.49) 0%,rgba(19,78,94,0.5) 100%);
}

aside ul{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

aside li{
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

aside ul ul{
	max-height: 0;
	overflow: hidden;
}

aside ul ul li a{
	padding-left: 2em;
}

aside li a{
	display: block;
	padding: 0.5em;
	border-bottom: 1px solid #000;
	color: #FFF;
}

aside li a:hover{
	text-decoration: none;
	color: #03BBDD !important;
}

aside li a:active,
aside li a:visited,
aside li a:focus{
	text-decoration: none;
	color: #FFF;
}

aside ul ul li a:active,
aside ul ul li a:visited,
aside ul ul li a:focus{
	color: #BBB;
}


aside li.open > a i:before{
	content: "\f078";
}

aside li.open ul{
	max-height: 1000px;
}

aside ul ul li a{
	font-size: 0.9em;
	color: #BBB;
}

aside > ul > li{
	margin-bottom: 30px;
}

aside > ul > li > a i{
	margin-left: auto;
}

/** aside end **/



/** main start **/

main{
	position: relative;
	font-size: 1rem;
}

main > div.row.flex{
	align-items: stretch;
}

header + main > div.row{
	min-height: calc(100vh - 45px);
}

main article{
	min-height: calc(100vh - 45px) !important;
}

/** main end **/



/** loginForm start **/

#loginForm{
	position: relative;
	font-size: 1rem;
	height: 100vh;
}

#loginForm > form{
	width: 100%;
	margin-top: -10vh;
}

#loginForm h1{
	font-size: 1.5em;
	color: #03BBDD;
	margin-bottom: 50px;
}

#loginForm h1 small{
	color: #FFF;
}

#loginForm #logo{
	margin: 0 0 1em 0;
}

#loginForm #logo img{
	max-height: 70px;
}

/** loginForm end **/



/** sub_menu start **/

.sub_menu{
	font-size: 1rem;
	list-style: none;
	margin: 2em 0;
}

.sub_menu li{
	display: inline-block;
	margin: 0 0.5em;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

/** sub_menu end **/